/* MAIN LAYOUT */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.content {
  flex: 1;
  padding: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;     /* CENTER ALL BLOCKS */
}

.page-title {
  text-align: center;
  width: 100%;
}

.logout-btn {
  width: 100%;
  padding: 12px;
  background: #4f74d9;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.logout-btn:hover {
  background: #c9c9c9;
}

.layout {
  display: flex;
  width: 100%;
  height: 100vh;
  background: #f3f4f7;
  font-family: Arial, sans-serif;
}
.menu-item {
  text-decoration: none;
  color: #dce1e7;
}

/* SIDEBAR */
.sidebar {
  width: 230px;                 /* FIXED WIDTH */
  background: #0d1b2a;
  color: white;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;       /* STOP SIDE EXPANSION */
}

/* LOGO */
.logo {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 5px;
  width: 100%;
  text-align: center;            /* Center logo text */
}

/* ADMIN PANEL LABEL */
.panel-text {
  font-size: 12px;
  opacity: 0.7;
  margin-bottom: 25px;
  width: 100%;
  text-align: center;            /* Centered */
}

/* MENU ITEMS */
.menu-item {
  width: 100%;                   /* FULL WIDTH = NO OVERFLOW */
  text-align: center;            /* TEXT CENTERED */
  padding: 12px 15px;
  margin-bottom: 10px;
  border-radius: 6px;
  cursor: pointer;
  color: #dce1e7;
}

.menu-item:hover {
  background: #1b263b;
}

.active {
  background: #1b263b;
  color: white;
}

/* LOGOUT BUTTON */
.logout {
  margin-top: auto;
  padding: 12px 10px;
  cursor: pointer;
  color: #dce1e7;
  width: 100%;
  text-align: center;
}

.logout:hover {
  color: white;
}

/* CONTENT AREA */
.content {
  flex: 1;
  padding: 30px;
}

.page-title {
  font-size: 26px;
  margin-bottom: 20px;
  color: #1a1a1a;
}

/* SEARCH BAR */
.search-bar {
  width: 60%;
  padding: 12px 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 30px;
  outline: none;
  font-size: 15px;
}

.search-bar:focus {
  border-color: #1b75d1;
}

/* STATS GRID */
.stats-grid {
  display: grid;
  grid-template-columns: repeat(2, 260px);
  gap: 25px;
}

.stat-box {
  background: white;
  padding: 22px;
  border-radius: 12px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
}

.stat-box h3 {
  font-size: 17px;
  margin-bottom: 8px;
  color: #444;
}

.stat-value {
  font-size: 24px;
  color: #1b263b;
  font-weight: bold;
}
