/* MAIN LAYOUT */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.layout {
  display: flex;
  width: 100%;
  height: 100vh;
  background: #f3f4f7;
  font-family: Arial, sans-serif;
}


.logout-btn {
  width: 100%;
  padding: 12px;
  background: #4f74d9;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.logout-btn:hover {
  background: #c9c9c9;
}

/* SIDEBAR */
.sidebar {
  width: 230px;
  background: #0d1b2a;
  color: white;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.panel-text {
  font-size: 12px;
  opacity: 0.7;
  margin-bottom: 25px;
}

/* MENU */
.menu-item {
  padding: 12px 15px;
  margin-bottom: 10px;
  border-radius: 6px;
  cursor: pointer;
  color: #dce1e7;
}

.menu-item:hover {
  background: #1b263b;
}

.active {
  background: #1b263b;
  color: white;
}

/* LOGOUT */
.logout {
  margin-top: auto;
  padding: 12px 10px;
  cursor: pointer;
  color: #dce1e7;
}

.logout:hover {
  color: white;
}

/* CONTENT */
.content {
  flex: 1;
  padding: 30px;
}

.page-title {
  font-size: 26px;
  margin-bottom: 20px;
  color: #1a1a1a;
}

/* CARD */
.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
  width: 80%;
}

/* TABLE */
.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.custom-table th {
  text-align: left;
  padding: 12px;
  border-bottom: 2px solid #ececec;
  color: #333;
}

.custom-table td {
  padding: 12px;
  border-bottom: 1px solid #ececec;
}

/* TOTAL ROW */
.total-row {
  text-align: right;
  padding: 12px;
  margin-top: 5px;
  font-weight: bold;
  border-top: 2px solid #ddd;
}

/* BACK BUTTON */
.back-container {
  margin-top: 20px;
}

.back-btn {
  padding: 10px 20px;
  border: none;
  background: #1b263b;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
.menu-item {
  text-decoration: none;
  color: #dce1e7;
}


.back-btn:hover {
  background: #0d1b2a;
}
