/* MAIN LAYOUT */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout {
  display: flex;
  width: 100%;
  height: 100vh;
  background: #f3f4f7;
  font-family: Arial, sans-serif;
}

.logout-btn {
  width: 100%;
  padding: 12px;
  background: #4f74d9;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.logout-btn:hover {
  background: #c9c9c9;
}

/* SIDEBAR */
.sidebar {
  width: 230px;
  background: #0d1b2a;
  color: white;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.panel-text {
  font-size: 12px;
  opacity: 0.7;
  margin-bottom: 25px;
}

/* MENU ITEMS */
.menu-item {
  padding: 12px 15px;
  margin-bottom: 10px;
  border-radius: 6px;
  cursor: pointer;
  color: #dce1e7;
}

.menu-item:hover {
  background: #1b263b;
}

.active {
  background: #1b263b;
  color: white;
}

/* LOGOUT BUTTON */
.logout {
  margin-top: auto;
  padding: 12px;
  cursor: pointer;
  color: #dce1e7;
}

.logout:hover {
  color: white;
}

/* CONTENT AREA */
.content {
  flex: 1;
  padding: 30px;
}

.page-title {
  font-size: 26px;
  margin-bottom: 20px;
  color: #1a1a1a;
}

/* DETAILS CARD */
.detail-card {
  background: white;
  width: 80%;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
}

/* LEFT DETAILS */
.info-section {
  width: 60%;
  font-size: 17px;
  line-height: 28px;
}

/* RIGHT IMAGE SECTION */
.image-section {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.img-box {
  width: 150px;
  height: 150px;
  border-radius: 12px;
  border: 1px solid #ccc;
  overflow: hidden;
  background: #fafafa;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* BACK BUTTON */
.back-container {
  margin-top: 20px;
}

.back-btn {
  padding: 10px 25px;
  background: #1b263b;
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.menu-item {
  text-decoration: none;
  color: #dce1e7;
}


.back-btn:hover {
  background: #0d1b2a;
}
