/* MAIN LAYOUT */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.layout {
  display: flex;
  width: 100%;
  height: 100vh;
  background: #f3f4f7;
  font-family: Arial, sans-serif;
}

/* SIDEBAR */
.sidebar {
  width: 230px;
  background: #0d1b2a;
  color: white;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.panel-text {
  font-size: 12px;
  opacity: 0.7;
  margin-bottom: 25px;
}

/* MENU */
.menu-item {
  padding: 12px 15px;
  margin-bottom: 10px;
  border-radius: 6px;
  cursor: pointer;
  color: #dce1e7;
}

.menu-item:hover {
  background: #1b263b;
}

.active {
  background: #1b263b;
  color: white;
}

/* LOGOUT */
.logout {
  margin-top: auto;
  padding: 12px;
  cursor: pointer;
  color: #dce1e7;
}

.logout:hover {
  color: white;
}

.logout-btn {
  width: 100%;
  padding: 12px;
  background: #4f74d9;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.logout-btn:hover {
  background: #c9c9c9;
}
/* CONTENT */
.content {
  flex: 1;
  padding: 30px;
}

.page-title {
  font-size: 26px;
  margin-bottom: 20px;
}

/* CARD */
.complaint-card {
  width: 80%;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
}

/* ID + Name Row */
.info-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.info-text {
  font-size: 18px;
  font-weight: bold;
}

/* Complaint + Response row */
.two-box-row {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 25px;
}

.box {
  width: 48%;
}

.label {
  font-size: 16px;
  font-weight: bold;
  display: block;
  margin-bottom: 6px;
}

.textarea {
  width: 100%;
  height: 120px;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px;
  resize: none;
  background: #fafafa;
}

/* Submit */
.submit-container {
  text-align: center;
}
.menu-item {
  text-decoration: none;
  color: #dce1e7;
}


.submit-btn {
  padding: 10px 25px;
  background: #1b263b;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.submit-btn:hover {
  background: #0d1b2a;
}
